@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background-color: rebeccapurple; */
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.btn-toast {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-toast:focus {
  outline: none;
}

.btn-toast:active {
  transform: scale(0.98);
}

.toast-msg {
  position: fixed;
  top: 100px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10000;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast-msg.success {
  background-color: rgba(0, 128, 0, 0.527);
}
.toast-msg.success:hover {
  background-color: rgba(0, 128, 0, 0.884);
  color: #fff;
}
.toast-msg.error {
  background-color: rgba(255, 0, 0, 0.568);
}
.toast-msg.error:hover {
  background-color: rgba(255, 0, 0, 0.808);
  color: #fff;
}

